<div class="card mb-4 mx-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title fs-5 fw-semibold"><%= title.substring(0, 25) %></h5>
    <a href="/notes/<%=id%>" class="btn btn-primary fs-6 fw-semibold">Ver anotação</a>
  </div>
</div>