<footer class="border-top border-primary flex-shrink-1">
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item ">
            <a class="nav-link text-light" href="#">Entrar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</footer>